body {
    background: #75A47F;
    margin: 0;
    font-family: Arial, sans-serif;
}

.register_form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 20px;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

#create {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    color: #888;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

input, select {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#passwordStrength {
    margin-bottom: 5px;
    color: red;
    display: none;
}

input[type="email"], input[type="password"], .input-container select {
    width: 100%;
}

#re_Password {
    margin-bottom: 20px;
}

.error {
    color: red;
    margin-bottom: 5px;
    font-size: 12px;
}

#birthMonth, #birthDay, #birthYear {
    margin: 5px;
    padding: 10px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #005f75;
}

span {
    display: block;
    text-align: center;
    margin-top: 20px;
}

span a {
    color: #007bff;
    text-decoration: none;
}

span a:hover {
    text-decoration: underline;
}

label {
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .input-container {
        flex-direction: column;
    }

    input, select {
        width: 100%;
    }

    form {
        padding: 0 10px;
    }
}
